<div class="container mt-3">
    <div class="row justify-content-center">
        <button type="button" routerLink="product-list" class="btn btn-outline-success btn-sm mr-2">Product
            List</button>
        <button type="button" routerLink="product-registration" class="btn btn-outline-success btn-sm mr-2">Product
            Registration</button>
        <button type="button" routerLink="product-search" class="btn btn-outline-success btn-sm">Product
            Search</button>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>