<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="container form-container">
    <div>
        <div class="row">
            <div class="mb-3">
                <input type="text" class="form-control" formControlName="id" placeholder="Id" [hidden]="true">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" formControlName="sku" placeholder="SKU">
            </div>
            <div class="col-md-6 mb-3">
                <input type="text" class="form-control" formControlName="price" placeholder="Price">
            </div>
            <div class="col-md-6 mb-3">
                <input type="number" class="form-control" formControlName="quantity" placeholder="Quantity" min="0">
            </div>
            <div class="col-12 mb-3">
                <textarea class="form-control" formControlName="description" placeholder="Description"></textarea>
            </div>
            <div class="col-12" formArrayName="suppliers">
                <div *ngFor="let supplier of suppliersFormArray.controls; let i = index" [formGroupName]="i"
                    class="mb-3">
                    <h2>Supplier {{i + 1}}</h2>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="text" formControlName="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="tel" formControlName="phone" placeholder="Phone Number" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input type="email" formControlName="email" placeholder="Email Address"
                                class="form-control">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" formControlName="address" placeholder="Address" class="form-control">
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger mt-1" (click)="removeSupplier(i)">Remove
                            Supplier</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div>
                <button type="button" class="btn btn-primary mr-3" (click)="addSupplier()">Add Supplier</button>
                <button type="submit" class="btn btn-success" [disabled]="registrationForm.invalid">Submit</button>
            </div>
        </div>
    </div>
</form>